body {
    position: absolute;
    background-color: black;
    color: rgb(224, 255, 24);
    font-size: 1rem;
    line-height: .98;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-align: justify;
    width: 500px;
    left: 30%;
    height: 100vh;
}

.text {
    display: inline-block;
}